In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from pytrends.request import TrendReq

columns = ['City', 'Big Data Job Offers', 'Data Science Job Offers', 'Machine Learning Job Offers']
europe_cities = {}
latam_cities = {}
usa_cities = {}

In [2]:
req1 = TrendReq()
req1.build_payload(kw_list=['big data', 'data science', 'machine learning'])

trends = req1.interest_by_region('CITY')
trendy = trends.drop(trends[(trends['big data'] == 0) & (trends['data science'] == 0) & (trends['machine learning'] == 0)].index)
trendy.sort_index()

                  big data  data science  machine learning
geoName
Bangkok                 74            22                36
Barcelona               88            16                29
Bengaluru               57            26                49
Berlin                  61            24                48
Bogotá                  92            12                29
Chennai                 72            24                37
Chicago                 48            41                44
Diadema                 96            13                24
Gurgaon                 61            28                44
Howrah                  74            25                33
Hyderabad               60            33                40
Istanbul                66            17                49
Jakarta                 85            20                28
Kuala Lumpur            84            21                28
London                  58            29                45
Los Angeles             46            36                50
Madrid                 100            10                22
Melbourne               57            36                40
Mexico City             89            17                26
Milan                   77            17                38
Mumbai                  65            28                40
New Delhi               60            30                42
New York                52            38                42
Noida                   65            24                44
Paris                   85            14                33
Pimpri-Chinchwad        69            25                38
Pune                    61            25                46
Rome                    78            18                36
San Francisco           36            40                57
Seoul                   61            13                58
Singapore               61            26                45
Sydney                  58            33                41
Toronto                 58            26                48
Warsaw                  72            24                37
Washington              57            41                34

In [3]:
trends.drop(trends[(trends['big data'] != 0) & (trends['data science'] != 0) & (trends['machine learning'] != 0)].index).sort_index()

                  big data  data science  machine learning
geoName
Ahmedabad                0             0                 0
Amsterdam                0             0                 0
Ankara                   0             0                 0
Atlanta                  0             0                 0
Austin                   0             0                 0
Boston                   0             0                 0
Brisbane                 0             0                 0
Brussels                 0             0                 0
Buenos Aires             0             0                 0
Casablanca               0             0                 0
Charlotte                0             0                 0
Coimbatore               0             0                 0
Copenhagen               0             0                 0
Dallas                   0             0                 0
Da’an District           0             0                 0
Dubai                    0             0                 0
Dublin                   0             0                 0
Frankfurt                0             0                 0
Hamburg                  0             0                 0
Hanoi                    0             0                 0
Helsinki                 0             0                 0
Ho Chi Minh City         0             0                 0
Houston                  0             0                 0
Indore                   0             0                 0
Kiev                     0             0                 0
Kochi                    0             0                 0
Kolkata                  0             0                 0
Lagos                    0             0                 0
Montreal                 0             0                 0
Moscow                   0             0                 0
Munich                   0             0                 0
Nairobi                  0             0                 0
Ottawa                   0             0                 0
Philadelphia             0             0                 0
Rio de Janeiro           0             0                 0
Riyadh                   0             0                 0
San Diego                0             0                 0
San Jose                 0             0                 0
Santiago                 0             0                 0
Seattle                  0             0                 0
Stockholm                0             0                 0
São Paulo                0             0                 0
Tehran                   0             0                 0
Tel Aviv-Yafo            0             0                 0
The Hague                0             0                 0
Tunis                    0             0                 0
Utrecht                  0             0                 0
Vienna                   0             0                 0
Zürich                   0             0                 0

In [4]:
def buildDic(dic, filename):
    f = open(filename, 'r')
    for line in f:
        data = line.strip().split(",")
        city = data[0]
        job_offer = data[1]
        total_count = int(data[2])
        if city not in dic:
            dic[city] = {}
        dic[city][job_offer] = total_count

In [5]:
buildDic(europe_cities,"data/europe.csv")
buildDic(latam_cities, "data/latinAmerica.csv")
buildDic(usa_cities,"data/usa.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'europe.csv'

In [ ]:
def addRows(df, dic):
    for k, v in dic.items():
        df2 = pd.DataFrame(data=[[k, v['Big Data'], v['Data Science'], v['Machine Learning']]], columns=columns)
        df = df.append(df2, ignore_index=True)
    df.index = [(i+1) for i in range(len(dic))]
    return df

In [ ]:
def total(df):
    df['Total New Tech Job Offers'] = df.apply(lambda x: x[columns[1]] + x[columns[2]] + x[columns[3]], axis=1)

In [ ]:
maindf = pd.DataFrame(columns=columns)

In [ ]:
europedf = pd.DataFrame(columns=columns)
europedf = addRows(europedf, europe_cities)

In [ ]:
usadf = pd.DataFrame(columns=columns)
usadf = addRows(usadf, usa_cities)

In [ ]:
latamdf = pd.DataFrame(columns=columns)
latamdf = addRows(latamdf, latam_cities)

In [ ]:
maindf = maindf.append([europedf, usadf, latamdf], ignore_index=True)
maindf = maindf.sort_values('City')
maindf = maindf.reset_index(drop=True)
total(maindf)

In [ ]:
maindf

In [ ]:
total(europedf)
total(latamdf)
total(usadf)

In [ ]:
europedf

In [ ]:
latamdf

In [ ]:
usadf

In [ ]:
compdf = pd.DataFrame(index=['Europe','Latam','USA'], columns=['Big Data','Data Science','Machine Learning','Total Count'])
compdf.loc['Europe'] = [europedf[columns[1]].sum(),europedf[columns[2]].sum(),europedf[columns[3]].sum(),europedf.iloc[:,-1].sum()]
compdf.loc['Latam'] = [latamdf[columns[1]].sum(),latamdf[columns[2]].sum(),latamdf[columns[3]].sum(),latamdf.iloc[:,-1].sum()]
compdf.loc['USA'] = [usadf[columns[1]].sum(),usadf[columns[2]].sum(),usadf[columns[3]].sum(),usadf.iloc[:,-1].sum()]
compdf.plot.bar()

In [ ]:
gdp_df = pd.read_csv('data/cities_gdp.csv')

In [ ]:
gdp_df = gdp_df.drop(columns=['METRO_ID','Variables','TIME','Unit Code','Unit','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags'])

In [ ]:
gdp_df = gdp_df.sort_values(by='Metropolitan areas')

In [ ]:
gdp_df.head()

In [ ]:
gdp_df = gdp_df.loc[(gdp_df['VAR'] == 'GDP') & (gdp_df['Year'] == 2012)]
gdp_df = gdp_df.reset_index(drop=True)
gdp_df = gdp_df.drop(columns=['VAR','Year'])

In [ ]:
gdp_df.columns = ['City','GDP']

In [ ]:
gdp_df.head()

In [ ]:
merge = pd.merge(maindf, gdp_df, how='inner', on='City')

In [ ]:
merge

In [ ]:
# Correlacion por el total de ofertas de trabajo
merge['Total New Tech Job Offers'].corr(merge['GDP'])

In [ ]:
#Correlacion por ofertas de trabajo de Big Data
merge['Big Data Job Offers'].astype('int').corr(merge['GDP'])

In [ ]:
#Correlacion por ofertas de trabajo de Data Science
merge['Data Science Job Offers'].astype('int').corr(merge['GDP'])

In [ ]:
#Correlacion por ofertas de trabajo de Machine Learning
merge['Machine Learning Job Offers'].astype('int').corr(merge['GDP'])

In [ ]:
merge.plot.scatter(x='GDP',y='Total New Tech Job Offers')